
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form-login {
    width: 400px;
    height: 425px;
    background: #384349;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #d577dd;
    border-radius: 0 0 20px 20px;
    color: white;
  }
  
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
    border: 1px solid #d865bf;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #2d3131;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  
  .buttons,
  .buttons-two {
    background: #d152b6;
    border: none;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
  }
  
  .buttons{
    width: 100%;
    height: 40px;
  }
  .buttons-two{
    width: 225px;
    height: 40px;
    border-radius: 0 0 20px 20px;
  }
  .buttons:hover{
    background: #88057d;
    border: 1px solid white;
    scale: 1.1;
  }
  
  .buttons-two:hover{
    background: #88057d;
    border:1px solid #d152b6 ;
    scale: 1.05;
  }
  